@using Capa_Entidad
@model List<CE_Aula>
@{
    ViewBag.Menu = "Aula";
}

<h2>Aulas</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th colspan="2">Opciones</th>
    </tr>

    @foreach (CE_Aula x in Model)
    {
        <tr>
            <td>@x.Id_Aula</td>
            <td>@x.Nom_Aula</td>

            <td><a href="/Aula/Modificar?Id=@x.Id_Aula" class="btn btn-primary btn-xs">modificar</a></td>
            <td><a href="/Aula/Eliminar?Id=@x.Id_Aula" class="btn btn-primary btn-xs">eliminar</a></td>
        </tr>

    }



</table>

<a href="/Aula/Insertar" class="btn btn-primary btn-sm">Agregar</a>


